{% extends "layout.html" %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
            <div class="carousel-container">
                <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>JALLKOTA</span></h2>
                <p class="animate__animated animate__fadeInUp">Jallkota translates to "Jalan-jalan ke Kota" from the Indonesian phrase "Travel to the City". When traveling to a city in a foreign country, we are frequently confused about where to go and how to get there, and if we feel perplexed or need information urgently, it takes time to obtain it.</p>
                </div>
            </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
            <div class="carousel-container">
                <div class="container">
                <h2 class="animate__animated animate__slideInDown">JALLKOTA</h2>
                <p class="animate__animated animate__fadeInUp">Therefore, this program was developed with the intention of facilitating city mobility for its users. For instance, we designed a program for those traveling to Bekasi, West Java, Indonesia. And with the goal that this program's successful implementation can be replicated in other cities.</p>
                </div>
            </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
            <div class="carousel-container">
                <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Definition Bekasi</h2>
                <p class="animate__animated animate__fadeInUp">The city of bekasi was one of the cities in the western province of Java, Indonesia. It belonged to the members associated with jabodetachment and was made the fourth largest city in Indonesia.</p>
                </div>
            </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        </div>
    </section><!-- End Hero -->

    <main id="main">

    <!-- ======= About Section ======= -->
        <section id="about" class="about">
        <div class="container">
            <center>
            <div class="row content align-items-center>
            <div class="col-lg-6">
            <h2>History of Bekasi City</h2> 
                </div> </center>
            <div class="justify-content-center">
                <p>
                Formerly the capital of the Tarumanagara empire, Bekasi was originally known as Jayagiri. 
                The Tarumanagara Kingdom was one of the largest West Java kingdoms ever to exist. When the monument inscription was discovered in Bekasi, it stated that a river named Chandrabaga once traversed the city. Chandrabaga's name then evolved to Bhagasasi and Bhagassi. 
                The moniker Bhagasi eventually survived and evolved into the precursor to the present-day name of the city of Bekasi.
                Throughout the conflict, Bekasi was known by many as the "city of Patriots." The 1945 outbreak of a major war in this city has tested the patriotism of the Bekasi populace.
                        </p>         
                
            </div>
            </div>

        </div>
        </section><!-- End About Section -->
{% endblock %}